{%extends 'base.html'%}
{%load static%}



{% block content %}
<div class="container">
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <h4>Event Category</h4>
        <small>Enter the activities category</small>
        {{form.categoryForm}}
    </div>
    <div class="container">
        <h4>Event Name</h4> 
        <small>Input the event name</small>
        {{form.eventForm}}
    </div>
    <div class="container">
            <h4>Event Location</h4> 
            <small>Input the event location</small>
            {{form.placeForm}}
        </div>
    <div class="container">
        <h4>Date</h4>
        <small>Input the date in YYYY-MM-DD format</small>
        {{form.dateForm}}
    </div>
    
    <div class="container">
        <h4>Time</h4>
        <small>Input the time in HH:MM:SS</small>
        {{form.timeForm}}
    </div>
    <div class="container">
    <button type = "submit" class = "btn waves-effect waves-light">Submit</button>
    </div>
</form>
</div>

{% endblock %}