{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1> My Schedule </h1>
        <div class="flow-text">Hello! This is my app for practicing Django models and database, which I applied to make a simple schedule organizer for myself, Abdurrafi Arief. Enjoy!</div>
        <a class="waves-effect waves-light btn" href="/schedule/create" role="button">Create New Event</a>
        <a class ="waves-effect waves-light btn" href = "/schedule/sched" role="button">See my Schedule</a> 
    </div>

{% endblock %}