{%extends 'base.html'%}
{% load static %}

{%block content%}

<div class="container">
    <div class="row">
        {% for event in CONTENT%}
        <div class="col">
            <div class="card" style = "width: 18rem;">
                
                <h5 class="card-title" style="font-weight: bold">{{event.event}}</h5>
                <h6 class="subheader">{{event.date_day}}</h6>
                 
                <div class="card-content">This {{event.category}} event will be held on {{event.time}} at {{event.place}}</div>
                <form action="delete" method="POST" >
                    {% csrf_token %}
                    <input type="hidden" value="{{ event.id }}" name="id" />
                    <input class="red button small" type="submit" value="Delete" />
                </form>

            </div>
        </div>
        {% endfor %}
    </div>
    <a class="waves-effect waves-light btn" href="/schedule/create" role="button">Create New Event</a>
</div>

{% endblock %}