
header, body, footer {
    padding-left: 0;
    padding-bottom: 100px;

}






html{
  scroll-behavior: smooth;
}

#aboutMe{
  padding-top: 40px;
  padding-bottom: 40px;
 
}

#experience{
  padding-top: 30px;
  padding-bottom: 40px;
}

#portfolio{
  padding-top: 40px;
  padding-bottom: 100px;
}

#contactMe{
  padding-top: 40px;
  padding-bottom: 30px;
}

#contactMeIcons{
  font-size: 40pt;
}

#skillsIcons{
  font-size: 40pt;
}

#boldName{
  font-size: 15pt;
  font-weight: 500;
}

#boldEmail{
  font-size: 15pt;
  font-weight: 500;
}

#yellow{
  background-color: yellow;
}


#mystery{
  padding-top: 30px;
  padding-bottom: 40px;
}