{% extends "base.html" %}
{%load static%}
{% block title %}About Rofi{% endblock %}

{% block content %}
<div class="container" id="aboutMe">
    <h1>Hi! I am Abdurrafi Arief</h1>
    <img class="card-image responsive-img" src="{% static 'cv/cutefoto.jpg' %}" id="editedFotosize">
    <div class="flow-text">I am a computer science student from the University of Indonesia, the Faculty of Computer Science. Currently I am learning web design and this website is one of my projects this semester. I am interested in coding problems and learning more about computer science. </div>

    <h4>Skills</h4>
    <p id="skillsIcons"><i class="fab fa-python"></i>               <i class="fab fa-java"></i>              <i class="fab fa-html5"></i></p>

  </div>
{% endblock %}
