{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'cv/materialize.min.css'%}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <!--Import personal css-->
    <link type="text/css" rel="stylesheet" href="{% static 'cv/story3.css' %}" media="screen,projection"/>
    <!--Import stylesheet for icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    
    <!--Top Navbar-->
    <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Rofi</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'cv:aboutMe'%}">About Me</a></li>
              <li><a href="{% url 'cv:experience'%}">My Experience</a></li>
              <li><a href="{% url 'cv:portfolio'%}">Portfolio</a></li>
              <li><a href="{% url 'cv:contactMe'%}">Contact Me</a></li>
              <li><a href="{% url 'schedule:landing'%}">My Schedule</a></li>
              <li><a href="{% url 'cv:secondPage'%}">A Mystery..</a></li>
          </ul>
        </div>
      </nav>
    <!--
      <ul class="sidenav" id="mobile-demo" style="transform: translateX(0%);">
          <li><a href="{% url 'cv:aboutMe'%}">About Me</a></li>
          <li><a href="{% url 'cv:experience'%}">My Experience</a></li>
          <li><a href="{% url 'cv:portfolio'%}">Portfolio</a></li>
          <li><a href="{% url 'cv:contactMe'%}">Contact Me</a></li>
          <li><a href="{% url 'cv:secondPage'%}">A Mystery..</a></li>
      </ul> -->
      {% block content %} {% endblock%}


    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'cv/materialize.min.js' %}"></script>
  </body>
</html>