{% extends "base.html" %}

{% block title %}Contact Rofi{% endblock %}

{% block content %}
<div class="container" id="contactMe">
    <h1>Contact Me!</h1>
    <div class="flow-text">Contact Me: 01231008329</div>
    <p id="contactMeIcons"><i class="fab fa-twitter-square"></i>  <i class="fab fa-instagram"></i> <i class="fab fa-gitlab"></i> <i class="fab fa-linkedin"></i></p>

  </div>
{% endblock %}
