{% extends "base.html" %}

{% block title %}Rofi's Experience{% endblock %}

{% block content %}
<div class="container" id="experience">
    <h1>My Experience</h1>
    <h4>BEM Fasilkom UI</h4>
    <div class="flow-text">
      Staff of Action and Strategical Departement where we raise awareness of Fasilkom students about sosial and political issues
    </div>
    <h4>FUKI Fasilkom UI</h4>
    <div class="flow-text">Staff of Creative Syiar Division where we try to creatively spread awareness of Islam to Fasilkom students.</div>
    <h4>PMB Fasilkom UI</h4>
    <div class="flow-text">Mentor for new university students, where I counsel and help them adapt to university life.</div>
  </div>
{% endblock %}
