{% extends "base.html" %}

{% block title %}Rofi's Portfolio{% endblock %}

{% block content %}
<div class="container" id="portfolio">
    <h1>Portfolio</h1>
    <h4>Personal Website</h4>
    <div class="flow-text">This very website is one of my projects that is meant to show off my skills and share my experiences</div>
    <h4>Coming Soon!</h4>
    <div class="flow-text">Wait for my next project!</div>
  </div>

{% endblock %}
