
{% extends "base.html" %}
{%load static%}

{% block title %}Mystery{% endblock %}

{% block content %}
    <body background="{% static 'cv/sky.jpg'%}">
        <h1 id="yellow">HAHA NOTHING IS OF IMPORTANCE HERE</h1>
        <div class="flow-text"><a href="{% url 'aboutMe' %}">Click here to go back</a></div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'cv/materialize.min.js' %}"></script>
    </body>

{%endblock%}